{% extends "@App/base.html.twig" %}

{% block content %}
    <h1 class="mt-5">Форма заказа</h1>
    <p class="lead">Введите данные для заказа</p>
    {{ form_start(form, { 'attr': {'id': 'form_cart'} }) }}
    {{ form_row(form.user.name) }}
	<span id="errors_name" class="invalid-feedback d-block"></span>
    {{ form_row(form.user.phone) }}
	<span id="errors_phone" class="invalid-feedback d-block"></span>
    {{ form_row(form.start_day) }}
	<span id="errors_start_day" class="invalid-feedback d-block"></span>
    {{ form_row(form.address) }}
	<span id="errors_address" class="invalid-feedback d-block"></span>
    {{ form_row(form.tariff) }}
    {{ form_end(form, {'render_rest': false}) }}
	<div class="form-group">
		<button type="submit" id="cart_save" class="btn-secondary btn">{{ 'form.cart.button'|trans }}</button>
	</div>
{% endblock %}

{% block javascript %}
<script src = "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script>
	$(document).ready(function () {

		$('.js-datepicker').datepicker({
			format: 'yyyy-mm-dd'
		});

		$('#cart_save').click(function () {

			$("#form_cart").ajaxSubmit({
				success: function (data) {

					if (typeof data.data != 'undefined') {
						alert(data.data.message);
					}

					if (typeof data.error != 'undefined') {

						$('#errors_name').empty();
						$('#errors_phone').empty();
						$('#errors_start_day').empty();
						$('#errors_address').empty();

						$.each(data.error.params, function (i) {

							$('#errors_' + data.error.params[i].name).append('<span class="d-block">' +
								'<span class="form-error-icon badge badge-danger text-uppercase">Ошибка</span>' +
								'<span class="form-error-message">' + data.error.params[i].message + '</span>' +
								'</span>');
						});
					}
				}
			});
		});
	})
</script>
{% endblock %}